<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="<%- htmlWebpackPlugin.options.description %>" />
  <meta name="robots" content="<%- htmlWebpackPlugin.options.robots %>" />
  <title><%- htmlWebpackPlugin.options.htmlTitle %></title>
  <%if (htmlWebpackPlugin.options.entryPointStylesheetPath.length > 0) { %><link rel="stylesheet" href="<%- htmlWebpackPlugin.options.entryPointStylesheetPath %>" /><% } %>
  <%if (htmlWebpackPlugin.options.pageStylesheetPath.length > 0) { %><link rel="stylesheet" href="<%- htmlWebpackPlugin.options.pageStylesheetPath %>" /><% } %>
  <link rel="canonical" href="<%- htmlWebpackPlugin.options.canonical %>" />
  <%= htmlWebpackPlugin.options.prefetch %>
</head>
<body class="<%- htmlWebpackPlugin.options.bodyClass %>">
  <div id="appRoot"><%= htmlWebpackPlugin.options.content %></div>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?flags=gated"></script>
  <script>window.SSGInitialProps = <%= htmlWebpackPlugin.options.initialProps %></script>
</body>
</html>
